{% extends "PizoteArkAdminBundle::security.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
Se ha enviado un correo para re establecer la contraseña.
</p>

<div style="padding: 10px">
	<a class="btn btn-primary" onclick='document.location.href = "{{ path('fos_user_security_login')}}" '>Regresar</a>
</div>

{% endblock %}
