<li class="dropdown notification">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="label label-primary arrowed arrow-left-in pull-right">6</span>
        <i class="fa fa-inbox"></i>
    </a>
    <ul class="dropdown-menu pull-right">
        <li>
            <a href="#">
                <img src="" alt="alex" class="img-avatar pull-left" />
                <span class="time">now</span>
                <p>Stet clita kasd gubergren, no sea takimata Lorem ipsum dolor sit amet.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="" alt="fabbian" class="img-avatar pull-left" />
                <span class="time">13 min. ago</span>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy et dolore.</p>
            </a>
        </li>

        <li class="open-section">
            <a href="#">View All Messages</a>
        </li>
    </ul>
</li>