Solucel\AdminBundle\Entity\OriginPoint:
    type: entity
    table: origin_point
    id:
        id:
            type: integer
            nullable: false
            options:
                unsigned: true
            id: true
            generator:
                strategy: IDENTITY
    fields:
        name:
            type: string
            nullable: false
            length: 128
            options:
                fixed: false
                default: ''
    lifecycleCallbacks: {  }
