Solucel\AdminBundle\Entity\QualityControlGroup:
    type: entity
    table: quality_control_group
    id:
        id:
            type: integer
            nullable: false
            options:
                unsigned: true
            id: true
            generator:
                strategy: IDENTITY
    fields:
        name:
            type: string
            nullable: false
            length: 128
            options:
                fixed: false
                default: ''
        enabled:
            type: boolean
            nullable: false
            options:
                default: true                
    lifecycleCallbacks: {  }
