{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    
    <li> <a href="{{ path('solucel_admin_repairorder_new') }}">Nueva  Orden de Reparación</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:RepairOrder:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
	
	{#
	$("[name='user']").validate();
	$("#user_password").rules("add", {required:true});
	$("#user_email").rules("add", {required:true, email:true});
	
	#}
	
		
	
		

{% endblock %}