{% extends "PizoteArkAdminBundle::security.html.twig" %}

{% block fos_user_content %}

{% block title %}
    
{% endblock %}


{% block body -%}
    {{ parent() }}

    <br><br>
    <center>
        <h1 style="font-size: 20px;">Oops! 403 HTTP El servidor a prohibido el acceso a esta ruta</h1>
    </center>


{% endblock %}

{% endblock fos_user_content %}