<li class="dropdown notification">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="label label-danger arrowed arrow-left-in pull-right">12</span>
        <i class="fa fa-bell"></i>
    </a>
    <ul class="dropdown-menu pull-right">
        <li>
            <a href="#">
                <i class="fa fa-inbox pull-left"></i>
                <span class="time">now</span>
                <p>Stet clita kasd gubergren, no sea takimata Lorem ipsum dolor sit amet.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bell pull-left"></i>
                <span class="time">13 min. ago</span>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy et dolore.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-bell pull-left"></i>
                <span class="time">17 min. ago</span>
                <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-inbox pull-left"></i>
                <span class="time">23 min. ago</span>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco ut aliquid ex ea commodi consequat.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-inbox pull-left"></i>
                <span class="time">26 min. ago</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor et dolore magna aliqua.</p>
            </a>
        </li>
        <li class="open-section">
            <a href="#">View All Notifications</a>
        </li>
    </ul>
</li>

{#
<script language="JavaScript" type="text/javascript">
	
		$.ajax({
			type:"POST",
			dataType:"html",
			url:"{{ path('notification_count') }}",
			success:function(data){
				$("#notificationCount").html(data);
			}
		});
		
		var ajax_call = function() {
	  		$.ajax({
				type:"POST",
				dataType:"html",
				url:"{{ path('notification_count') }}",
				success:function(data){
					$("#notificationCount").html(data);
				}
			});
  		
		};

		var min = 10;
		var interval = 1000 * 60 * min; 

		setInterval(ajax_call, interval);
	
</script>	
#}
